.hobby-sub-header {
    display: flex;
    justify-content: space-between;
}

.hobby-sub-title {
    font-family: Chalkboard;
    font-style: normal;
    color: #111111;
    margin-left: 20px;
}

.new-post-button {
    font-family: Chalkboard;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #AAAAAA;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    align-self: flex-start;
}

.left-component {
    display: flex;
    justify-content: space-evenly;
    align-self: left;
}

.right-component {
    display: flex;
    justify-content: space-evenly;
    align-self: right;
}

.hobby-sub-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
}