.home-component {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: Chalkboard;
    font-style: normal;
    padding-left: 20px;
}

.category-component {
    margin: 10px;
    width: 25vw;
}

.category-title {
    background-color: #989da6;
    color: #222c3c;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.hobby-list {
    padding: 10px;
}