.post-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    color: #111111;
    font-family: Chalkboard;
    width: 75%;
    margin: 10px;
    border: 3px solid #AAAAAA;
    border-radius: 5px;
}

.like-component {
    background-color: #AAAAAA;
    padding: 5px;
}

/* .like-button {

} */

.post-component {
    padding: 10px;
    height: min-content;
    width: 100%;
}