.post-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    color: #111111;
    font-family: Chalkboard;
    width: 75%;
    margin: 10px;
    border: 3px solid #AAAAAA;
    border-radius: 5px;
}

.like-component {
    background-color: #AAAAAA;
    padding: 5px;
}

.like-button {
    margin-top: 10px;
    font-family: Chalkboard;
    background-color: #ededed;
    border: none;
    border-radius: 15px;
    color: #111111;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    align-self: flex-start;
}

.post-component {
    padding-left: 10px;
    height: min-content;
    width: 100%;
}