.post-component1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ededed;
    height: 89vh;
  }
  
  .post-component2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    max-height: 85vh;
    font-family: Chalkboard;
    font-style: normal;
    font-weight: normal;
  }
  
  .title {
    align-self: flex-start;
  }
  
  .post {
    background-color: white;
    max-height: 75%;
    width: 700px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 1.5;
    color: #ffffff;
  }
  
  .post-title {
    font-size: 20px;
    border-radius: 5px;
    border: 3px solid #989da6;
    box-sizing: border-box;
    width: 100%;
    font-family: Chalkboard;
    font-style: normal;
    font-weight: normal;
  }
  
  .post-body {
    width: 100%;
    padding: 12px 20px;
    border-radius: 5px;
    border: 3px solid #989da6;
    margin: 8px 0;
    box-sizing: border-box;
    min-height: 50px;
    resize: vertical;
    height: 200px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 20px;
    font-family: Chalkboard;
    font-style: normal;
    font-weight: normal;
  }
  
  .submit {
    font-family: Chalkboard;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    background-color: #a19e9f;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    align-self: flex-start;
  }