.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    border-bottom: 2px solid #AAAAAA;
}

.navbar-left {
    display: flex;
    justify-content: space-evenly;
    align-self: left;
}

.navbar-right {
    display: flex;
    justify-content: space-evenly;
    align-self: right;
}

.navbar-component {
    padding-left: 15px;
    padding-right: 15px;
}

.link {
    text-decoration: none;
}